*{
  box-sizing: border-box;
}

.new-tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 20px;

}

.new-tweet h2{
  text-align: center;
}

.new-tweet button{
  background-color: #4056A1;
}

.new-tweet div{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Bungee";
}
.new-tweet form{
  display: flex;
  flex-direction: column;
}
.new-tweet button{
  color: aliceblue;
}




.new-tweet textarea{
display: block;
margin-top: 10px;
width: 100%;
border: none;
resize: none;
border-bottom: solid ;
border-width: thick;
background: transparent;
outline: none;
}

.red-text{
  color: red;
}

.new-tweet .error-message{
  display: flex;
  border: solid red;
  border-width: thick;
  align-items: center;
  justify-content: space-around;
  color: red;
  
}

.new-tweet .hidden{
  display: none;
}

.hidden{
  display: none;
}

.new-tweet i {
  color: red;
}