$new-tweet-button-background-color: #4056A1;
$new-tweet-font-family: "Bungee";
$new-tweet-button-text-color: aliceblue;
$highlight-color: red;

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 20px;

  h2 {
    text-align: center;
  }

  button {
    background-color: $new-tweet-button-background-color;
    color: $new-tweet-button-text-color;
  }

  div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    font-family: $new-tweet-font-family;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
    border: none;
    resize: none;
    border-bottom: solid;
    border-width: thick;
    background: transparent;
    outline: none;
  }

  .error-message {
    display: flex;
    text-align: center;
    border: solid $highlight-color;
    border-width: thick;
    align-items: center;
    justify-content: space-around;
    color: $highlight-color;
    margin: 0;
    padding: 10px;

  }

  .hidden {
    display: none;
  }

  i {
    color: $highlight-color;
  }
}



.red-text {
  color: $highlight-color;
}


.hidden {
  display: none;
}