$primary-background-color: rgb(62, 85, 156);

@media only screen and (min-width: 1024px) {
  nav {
    background-color: $primary-background-color;
  }

  .main-content {
    flex-direction: row;
    margin-top: 200px;
    align-items: flex-start;
  }

  #site-header {
    max-height: 400px;
    max-width: 400px;
    margin-left: 50px;
  }

  #tweet-text {
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  #tweets-container {
    header {
      width: inherit;
    }

    article {
      margin-top: 0;
    }
  }

  #new-tweet-form {
    margin-top: 0;
    margin-bottom: 20px;
  }

}