header {
  display: flex;
  flex-direction: column;
  height: 520px;
  background-color: rgb(204, 154, 62);
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
header .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header img {
  display: block;
}
header h2 {
  text-align: center;
  color: white;
}
