.new-tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

}

.new-tweet h2{
  text-align: center;
}

.new-tweet button{
  background-color: #4056A1;
}

.new-tweet div{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Bungee";
}
.new-tweet form{
  display: flex;
  flex-direction: column;
}
.new-tweet button{
  color: aliceblue;
}

.new-tweet label{
  align-self: flex-start;
  width: 100%;

}


.new-tweet textarea{
display: block;
margin-top: 10px;
width: 100%;
border: none;
resize: none;
border-bottom: solid darkgrey;
border-width: thick;
background: transparent

}